[project]
	description = ? ????!!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hyeondey
[access "refs/for/refs/*"]
	read = group user/Hyeondey
	push = group user/Hyeondey
	label-Code-Review = -2..+2 group user/Hyeondey
	label-Verified = -1..+1 group user/Hyeondey
	rebase = group user/Hyeondey
	removeReviewer = group user/Hyeondey
	submit = group user/Hyeondey
[access "refs/heads/*"]
	read = group user/Hyeondey
	create = group user/Hyeondey
	push = +force group user/Hyeondey
	pushMerge = group user/Hyeondey
[access "refs/tags/*"]
	push = group user/Hyeondey
	push = +force group user/Hyeondey
